# Formula 1 DataFrames

In [1]:
import pandas as pd

## Races DataFrame

Read the Races DataFrame and transform it, to a better use of the data.

In [2]:
df_races = pd.read_csv('formula1_race_results.csv')
df_races.head()

,Grand Prix,Date,Winner,Car,Laps,Time,Year
0,Great Britain,13 May 1950,Nino FarinaFAR,Alfa Romeo,70.0,2:13:23.600,1950
1,Monaco,21 May 1950,Juan Manuel FangioFAN,Alfa Romeo,100.0,3:13:18.700,1950
2,Indianapolis,30 May 1950,Johnnie ParsonsPAR,Kurtis Kraft Offenhauser,138.0,2:46:55.970,1950
3,Switzerland,04 Jun 1950,Nino FarinaFAR,Alfa Romeo,42.0,2:02:53.700,1950
4,Belgium,18 Jun 1950,Juan Manuel FangioFAN,Alfa Romeo,35.0,2:47:26.000,1950

One of the datas that has to be cleaned is the Winners data. It has a bunch of '\xa0' (non-separable spaces) and the name abbreviation of the winner at the and of the name.

In [3]:
df_races['Winner'].unique()

array(['Nino\xa0FarinaFAR', 'Juan Manuel\xa0FangioFAN',
       'Johnnie ParsonsPAR', 'Lee\xa0WallardWAL', 'Luigi\xa0FagioliFAG',
       'Jose Froilan\xa0GonzalezGON', 'Alberto\xa0AscariASC',
       'Piero TaruffiTAR', 'Troy\xa0RuttmanRUT', 'Bill Vukovich VUK',
       'Mike\xa0HawthornHAW', 'Maurice TrintignantTRI',
       'Bob\xa0SweikertSWE', 'Stirling\xa0MossMOS', 'Luigi\xa0MussoMUS',
       'Pat\xa0FlahertyFLA', 'Peter\xa0CollinsCOL', 'Sam\xa0HanksHAN',
       'Tony\xa0BrooksBRO', 'Jimmy\xa0BryanBRY', 'Jack\xa0BrabhamBRA',
       'Rodger\xa0WardWAR', 'Jo\xa0BonnierBON', 'Bruce\xa0McLarenMCL',
       'Jim\xa0RathmannRAT', 'Phil\xa0HillHIL',
       'Wolfgang\xa0von TripsVON', 'Giancarlo\xa0BaghettiBAG',
       'Innes\xa0IrelandIRE', 'Graham\xa0HillHIL', 'Jim\xa0ClarkCLA',
       'Dan\xa0GurneyGUR', 'John\xa0SurteesSUR', 'Lorenzo\xa0BandiniBAN',
       'Jackie\xa0StewartSTE', 'Richie\xa0GintherGIN',
       'Ludovico\xa0ScarfiottiSCA', 'Pedro\xa0RodriguezROD',
       'Denny\xa0HulmeHUL', 'Jacky\xa0IckxICK', 'Jo\xa0SiffertSIF',
       'Jochen\xa0RindtRIN', 'Clay\xa0RegazzoniREG',
       'Emerson\xa0FittipaldiFIT', 'Mario\xa0AndrettiAND',
       'Peter Gethin GET', 'Francois Cevert CEV',
       'Jean-Pierre\xa0BeltoiseBEL', 'Ronnie\xa0PetersonPET',
       'Peter RevsonREV', 'Carlos\xa0ReutemannREU', 'Niki\xa0LaudaLAU',
       'Jody\xa0ScheckterSCH', 'Carlos\xa0PacePAC', 'Jochen\xa0MassMAS',
       'James\xa0HuntHUN', 'Vittorio\xa0BrambillaBRA',
       'John\xa0WatsonWAT', 'Gunnar\xa0NilssonNIL',
       'Jacques\xa0LaffiteLAF', 'Alan JonesJON',
       'Patrick\xa0DepaillerDEP', 'Gilles\xa0VilleneuveVIL',
       'Jean-Pierre\xa0JabouilleJAB', 'Rene\xa0ArnouxARN',
       'Nelson\xa0PiquetPIQ', 'Didier\xa0PironiPIR', 'Alain\xa0ProstPRO',
       'Riccardo\xa0PatresePAT', 'Patrick\xa0TambayTAM',
       'Elio\xa0de AngelisDEA', 'Keke\xa0RosbergROS',
       'Michele\xa0AlboretoALB', 'Ayrton\xa0SennaSEN',
       'Nigel\xa0MansellMAN', 'Gerhard\xa0BergerBER',
       'Thierry\xa0BoutsenBOU', 'Alessandro\xa0NanniniNAN',
       'Michael\xa0SchumacherMSC', 'Damon\xa0HillHIL', 'Jean\xa0AlesiALE',
       'Johnny\xa0HerbertHER', 'David\xa0CoulthardCOU',
       'Jacques\xa0VilleneuveVIL', 'Olivier\xa0PanisPAN',
       'Heinz-Harald\xa0FrentzenFRE', 'Mika\xa0HakkinenHAK',
       'Eddie\xa0IrvineIRV', 'Rubens\xa0BarrichelloBAR',
       'Ralf\xa0SchumacherRSC', 'Juan Pablo\xa0MontoyaMOY',
       'Kimi\xa0RäikkönenRAI', 'Giancarlo\xa0FisichellaFIS',
       'Fernando\xa0AlonsoALO', 'Jarno\xa0TrulliTRU',
       'Jenson\xa0ButtonBUT', 'Felipe\xa0MassaMAS',
       'Lewis\xa0HamiltonHAM', 'Robert\xa0KubicaKUB',
       'Heikki\xa0KovalainenKOV', 'Sebastian\xa0VettelVET',
       'Mark\xa0WebberWEB', 'Nico\xa0RosbergROS',
       'Pastor\xa0MaldonadoMAL', 'Daniel\xa0RicciardoRIC',
       'Max\xa0VerstappenVER', 'Valtteri\xa0BottasBOT',
       'Charles\xa0LeclercLEC', 'Pierre\xa0GaslyGAS',
       'Sergio\xa0PerezPER', 'Esteban\xa0OconOCO', 'Carlos\xa0SainzSAI',
       'George\xa0RussellRUS', 'Lando\xa0NorrisNOR',
       'Oscar\xa0PiastriPIA'], dtype=object)

To clean it, replace the non-separable spaces with spaces, create a new column to the name abbreviation and delete it of the original name.

In [4]:
# Replace '\xa0' (non-separable space) for a space, to clean the data
df_races['Winner'] = df_races['Winner'].str.replace('\xa0', ' ')  # Remover o caractere \xa0

# Create a new column for the name abbreviation (last 3 characters of the winner)
df_races['Name_Code'] = df_races['Winner'].str[-3:]  # Extrair os últimos 3 caracteres

# Remove the last 3 characters of the winner (the name abbreviation)
df_races['Winner'] = df_races['Winner'].str[:-3]

df_races.head()

,Grand Prix,Date,Winner,Car,Laps,Time,Year,Name_Code
0,Great Britain,13 May 1950,Nino Farina,Alfa Romeo,70.0,2:13:23.600,1950,FAR
1,Monaco,21 May 1950,Juan Manuel Fangio,Alfa Romeo,100.0,3:13:18.700,1950,FAN
2,Indianapolis,30 May 1950,Johnnie Parsons,Kurtis Kraft Offenhauser,138.0,2:46:55.970,1950,PAR
3,Switzerland,04 Jun 1950,Nino Farina,Alfa Romeo,42.0,2:02:53.700,1950,FAR
4,Belgium,18 Jun 1950,Juan Manuel Fangio,Alfa Romeo,35.0,2:47:26.000,1950,FAN

Verify if the cleaning worked

In [5]:
df_races['Winner'].unique()

array(['Nino Farina', 'Juan Manuel Fangio', 'Johnnie Parsons',
       'Lee Wallard', 'Luigi Fagioli', 'Jose Froilan Gonzalez',
       'Alberto Ascari', 'Piero Taruffi', 'Troy Ruttman',
       'Bill Vukovich ', 'Mike Hawthorn', 'Maurice Trintignant',
       'Bob Sweikert', 'Stirling Moss', 'Luigi Musso', 'Pat Flaherty',
       'Peter Collins', 'Sam Hanks', 'Tony Brooks', 'Jimmy Bryan',
       'Jack Brabham', 'Rodger Ward', 'Jo Bonnier', 'Bruce McLaren',
       'Jim Rathmann', 'Phil Hill', 'Wolfgang von Trips',
       'Giancarlo Baghetti', 'Innes Ireland', 'Graham Hill', 'Jim Clark',
       'Dan Gurney', 'John Surtees', 'Lorenzo Bandini', 'Jackie Stewart',
       'Richie Ginther', 'Ludovico Scarfiotti', 'Pedro Rodriguez',
       'Denny Hulme', 'Jacky Ickx', 'Jo Siffert', 'Jochen Rindt',
       'Clay Regazzoni', 'Emerson Fittipaldi', 'Mario Andretti',
       'Peter Gethin ', 'Francois Cevert ', 'Jean-Pierre Beltoise',
       'Ronnie Peterson', 'Peter Revson', 'Carlos Reutemann',
       'Niki Lauda', 'Jody Scheckter', 'Carlos Pace', 'Jochen Mass',
       'James Hunt', 'Vittorio Brambilla', 'John Watson',
       'Gunnar Nilsson', 'Jacques Laffite', 'Alan Jones',
       'Patrick Depailler', 'Gilles Villeneuve', 'Jean-Pierre Jabouille',
       'Rene Arnoux', 'Nelson Piquet', 'Didier Pironi', 'Alain Prost',
       'Riccardo Patrese', 'Patrick Tambay', 'Elio de Angelis',
       'Keke Rosberg', 'Michele Alboreto', 'Ayrton Senna',
       'Nigel Mansell', 'Gerhard Berger', 'Thierry Boutsen',
       'Alessandro Nannini', 'Michael Schumacher', 'Damon Hill',
       'Jean Alesi', 'Johnny Herbert', 'David Coulthard',
       'Jacques Villeneuve', 'Olivier Panis', 'Heinz-Harald Frentzen',
       'Mika Hakkinen', 'Eddie Irvine', 'Rubens Barrichello',
       'Ralf Schumacher', 'Juan Pablo Montoya', 'Kimi Räikkönen',
       'Giancarlo Fisichella', 'Fernando Alonso', 'Jarno Trulli',
       'Jenson Button', 'Felipe Massa', 'Lewis Hamilton', 'Robert Kubica',
       'Heikki Kovalainen', 'Sebastian Vettel', 'Mark Webber',
       'Nico Rosberg', 'Pastor Maldonado', 'Daniel Ricciardo',
       'Max Verstappen', 'Valtteri Bottas', 'Charles Leclerc',
       'Pierre Gasly', 'Sergio Perez', 'Esteban Ocon', 'Carlos Sainz',
       'George Russell', 'Lando Norris', 'Oscar Piastri'], dtype=object)

Also, must verify if there are any incompleted/missing values.

In [6]:
df_races.isna().sum()

Grand Prix    0
Date          0
Winner        0
Car           0
Laps          3
Time          3
Year          0
Name_Code     0
dtype: int64

Analysing the lines of the missing values.

In [7]:
# Filter the lines where the 'Laps' are NaN
df_races[df_races['Laps'].isna()]

#The 1951 French Grand Prix had 77 laps and lasted 3:22:11 hours
#The 1956 Argentinian Grand Prix had 98 laps and lasted 03:00:03 hours
#The 1957 British Grad Prix had 90 laps and lasted 03:06:37 hours

,Grand Prix,Date,Winner,Car,Laps,Time,Year,Name_Code
11,France,01 Jul 1951,Luigi Fagioli,Alfa Romeo,NaN,NaN,1951,FAG
49,Argentina,22 Jan 1956,Luigi Musso,Ferrari,NaN,NaN,1956,MUS
62,Great Britain,20 Jul 1957,Tony Brooks,Vanwall,NaN,NaN,1957,BRO

For the missing ones, searched the right values and updated the information.

In [8]:
# Update 'Laps' and 'Time' based on multiple conditions: 'Grand Prix' and 'Date'

#Laps
df_races.loc[(df_races['Grand Prix'] == 'France') & (df_races['Date'] == '01 Jul 1951'), 'Laps'] = 77
df_races.loc[(df_races['Grand Prix'] == 'Argentina') & (df_races['Date'] == '22 Jan 1956'), 'Laps'] = 98
df_races.loc[(df_races['Grand Prix'] == 'Great Britain') & (df_races['Date'] == '20 Jul 1957'), 'Laps'] = 90

#Time
df_races.loc[(df_races['Grand Prix'] == 'France') & (df_races['Date'] == '01 Jul 1951'), 'Time'] = '3:22:11.000'
df_races.loc[(df_races['Grand Prix'] == 'Argentina') & (df_races['Date'] == '22 Jan 1956'), 'Time'] = '3:00:03.000'
df_races.loc[(df_races['Grand Prix'] == 'Great Britain') & (df_races['Date'] == '20 Jul 1957'), 'Time'] = '3:06:37.000'

A last verification to be sure that it worked

In [9]:
df_races.isna().sum()

Grand Prix    0
Date          0
Winner        0
Car           0
Laps          0
Time          0
Year          0
Name_Code     0
dtype: int64

The 'Date' column has different patterns for the values, which should all be the same.

E.g.:

- 30 May 1950

- 04/06/1950

In [10]:
df_races['Date'].unique()

array(['13 May 1950', '21 May 1950', '30 May 1950', ..., '23 Nov 2024',
       '01 Dec 2024', '08 Dec 2024'], dtype=object)

The format will be YYYY/MM/DD

In [ ]:
def convert_date(date):
    try:
        return pd.to_datetime(date, format='%d %b %Y').strftime('%Y/%m/%d')  # E.g.: '30 May 1950'
    except ValueError:
        try:
            return pd.to_datetime(date, format='%d/%m/%Y').strftime('%Y/%m/%d')  # E.g.: '04/06/1950'
        except ValueError:
            return None  # If the convertion is not possible, return none

# Convert the dates
df_races['Date'] = df_races['Date'].apply(convert_date)

In [12]:
df_races['Date'].unique()

array(['1950/05/13', '1950/05/21', '1950/05/30', ..., '2024/11/23',
       '2024/12/01', '2024/12/08'], dtype=object)

In [13]:
df_races.isna().sum()

Grand Prix    0
Date          0
Winner        0
Car           0
Laps          0
Time          0
Year          0
Name_Code     0
dtype: int64

In [14]:
df_races.head(15)

,Grand Prix,Date,Winner,Car,Laps,Time,Year,Name_Code
0,Great Britain,1950/05/13,Nino Farina,Alfa Romeo,70.0,2:13:23.600,1950,FAR
1,Monaco,1950/05/21,Juan Manuel Fangio,Alfa Romeo,100.0,3:13:18.700,1950,FAN
2,Indianapolis,1950/05/30,Johnnie Parsons,Kurtis Kraft Offenhauser,138.0,2:46:55.970,1950,PAR
3,Switzerland,1950/06/04,Nino Farina,Alfa Romeo,42.0,2:02:53.700,1950,FAR
4,Belgium,1950/06/18,Juan Manuel Fangio,Alfa Romeo,35.0,2:47:26.000,1950,FAN
5,France,1950/07/02,Juan Manuel Fangio,Alfa Romeo,64.0,2:57:52.800,1950,FAN
6,Italy,1950/09/03,Nino Farina,Alfa Romeo,80.0,2:51:17.400,1950,FAR
7,Switzerland,1951/05/27,Juan Manuel Fangio,Alfa Romeo,42.0,2:07:53.640,1951,FAN
8,Indianapolis,1951/05/30,Lee Wallard,Kurtis Kraft Offenhauser,200.0,3:57:38.050,1951,WAL
9,Belgium,1951/06/17,Nino Farina,Alfa Romeo,36.0,2:45:46.200,1951,FAR
10,France,1951/07/01,Juan Manuel Fangio,Alfa Romeo,77.0,3:22:11.000,1951,FAN
11,France,1951/07/01,Luigi Fagioli,Alfa Romeo,77.0,3:22:11.000,1951,FAG
12,Great Britain,1951/07/14,Jose Froilan Gonzalez,Ferrari,90.0,2:42:18.200,1951,GON
13,Germany,1951/07/29,Alberto Ascari,Ferrari,20.0,3:23:03.300,1951,ASC
14,Italy,1951/09/16,Alberto Ascari,Ferrari,80.0,2:42:39.300,1951,ASC

Save the adjusted DataFrame into a new csv file.

In [15]:
df_races.to_csv('df_races.csv', index = False)

## Drivers DataFrame

Read the Drivers DataFrame and transform it, to a better use of the data.

In [16]:
df_drivers = pd.read_csv('formula1_drivers_results.csv')
df_drivers.head()

  Pos                 Driver Nationality          Car   Pts  Year
0   1         Nino FarinaFAR         ITA   Alfa Romeo  30.0  1950
1   2  Juan Manuel FangioFAN         ARG   Alfa Romeo  27.0  1950
2   3       Luigi FagioliFAG         ITA   Alfa Romeo  24.0  1950
3   4        Louis RosierROS         FRA  Talbot-Lago  13.0  1950
4   5      Alberto AscariASC         ITA          NaN  11.0  1950

As the races df, adjust the driver names too

In [17]:
df_drivers['Driver'].unique()

array(['Nino\xa0FarinaFAR', 'Juan Manuel\xa0FangioFAN',
       'Luigi\xa0FagioliFAG', 'Louis RosierROS', 'Alberto\xa0AscariASC',
       'Johnnie ParsonsPAR', 'Bill\xa0HollandHOL', 'Prince\xa0BiraBIR',
       'Reg ParnellPAR', 'Louis ChironCHI', 'Mauri RoseROS',
       'Peter WhiteheadWHI', 'Yves\xa0Giraud-CabantousGIR',
       'Raymond SommerSOM', 'Cecil GreenGRE', 'Robert ManzonMAN',
       'Dorino SerafiniSER', 'Philippe EtancelinETA', 'Felice BonettoBON',
       'Tony BettenhausenBET', 'Joie ChitwoodCHI', 'Eugene ChaboudCHA',
       'Jose Froilan\xa0GonzalezGON', 'Luigi VilloresiVIL',
       'Piero TaruffiTAR', 'Lee\xa0WallardWAL', 'Mike\xa0NazarukNAZ',
       'Consalvo SanesiSAN', 'Andy\xa0LindenLIN',
       'Toulo\xa0de GraffenriedDEG', 'Manny\xa0AyuloAYU',
       'Bobby\xa0BallBAL', 'Jack\xa0McGrathMCG', 'Rudi Fischer FIS',
       'Mike\xa0HawthornHAW', 'Troy\xa0RuttmanRUT', 'Jim\xa0RathmannRAT',
       'Jean\xa0BehraBEH', 'Sam\xa0HanksHAN', 'Ken WhartonWHA',
       'Duane\xa0CarterCAR', 'Dennis\xa0PoorePOO', 'Alan\xa0BrownBRO',
       'Art\xa0CrossCRO', 'Paul\xa0FrereFRE', 'Maurice TrintignantTRI',
       'Eric\xa0ThompsonTHO', 'Bill Vukovich VUK', 'Onofre\xa0MarimonMAR',
       'Oscar Alfredo\xa0GalvezGAL', 'Hermann\xa0LangLAN',
       'Fred\xa0AgabashianAGA', 'Paul\xa0RussoRUS', 'Karl\xa0KlingKLI',
       'Hans HerrmannHER', 'Jimmy\xa0BryanBRY', 'Luigi\xa0MussoMUS',
       'Roberto\xa0MieresMIE', 'Stirling\xa0MossMOS',
       'Sergio\xa0MantovaniMAN', 'Elie\xa0BayolBAY',
       'Andre\xa0PilettePIL', 'Umberto MaglioliMAG',
       'Eugenio\xa0CastellottiCAS', 'Bob\xa0SweikertSWE',
       'Jimmy\xa0DaviesDAV', 'Johnny\xa0ThomsonTHO',
       'Cesare\xa0PerdisaPER', 'Carlos\xa0MenditeguyMEN',
       'Walt FaulknerFAU', 'Bill\xa0HomeierHOM', 'Peter\xa0CollinsCOL',
       'Pat\xa0FlahertyFLA', 'Paco GodiaGOD', 'Jack FairmanFAI',
       'Don FreelandFRE', 'Ron\xa0FlockhartFLO', 'Harry\xa0SchellSCH',
       'Alfonso\xa0de Portago DEP', 'Olivier GendebienGEN',
       'Hermano\xa0da Silva RamosDAS', 'Dick\xa0RathmannRAT',
       'Horace Gould GOU', 'Gerino Gerini GER', 'Chico\xa0LandiLAN',
       'Tony\xa0BrooksBRO', 'Masten\xa0GregoryGRE',
       'Stuart Lewis-Evans LEW', 'Wolfgang\xa0von TripsVON',
       'Roy\xa0SalvadoriSAL', 'Giorgio Scarlatti SCA', 'Phil\xa0HillHIL',
       'George AmickAMI', 'Johnny BoydBOY', 'Jack\xa0BrabhamBRA',
       'Cliff\xa0AllisonALL', 'Jo\xa0BonnierBON', 'Bruce\xa0McLarenMCL',
       'Dan\xa0GurneyGUR', 'Rodger\xa0WardWAR', 'Innes\xa0IrelandIRE',
       'Paul\xa0GoldsmithGOL', 'Richie\xa0GintherGIN', 'Jim\xa0ClarkCLA',
       'John\xa0SurteesSUR', 'Graham\xa0HillHIL', 'Willy\xa0MairesseMAI',
       'Don BransonBRA', 'Henry\xa0TaylorTAY', 'Giulio\xa0CabiancaCAB',
       'Eddie\xa0JohnsonJOH', 'Lucien\xa0BianchiBIA',
       'Giancarlo\xa0BaghettiBAG', 'Jackie Lewis LEW', 'Tony\xa0MaggsMAG',
       'Trevor Taylor TAY', 'Lorenzo\xa0BandiniBAN',
       'Ricardo Rodriguez ROD', 'Carel Godin\xa0de Beaufort DEB',
       'Neville\xa0LederleLED', 'Gerhard\xa0MitterMIT', 'Jim Hall HAL',
       'Ludovico\xa0ScarfiottiSCA', 'Jo\xa0SiffertSIF',
       'Peter Arundell ARU', 'Bob\xa0AndersonAND', 'Mike\xa0SpenceSPE',
       'Chris\xa0AmonAMO', 'Walt HansgenHAN', 'Mike\xa0HailwoodHAI',
       'Pedro\xa0RodriguezROD', 'Jackie\xa0StewartSTE',
       'Denny\xa0HulmeHUL', 'Jochen\xa0RindtRIN', 'Ronnie\xa0BucknumBUC',
       'Richard\xa0AttwoodATT', 'Mike Parkes PAR', 'Bob\xa0BondurantBON',
       'John Taylor TAY', 'John\xa0LoveLOV', 'Chris IrwinIRW',
       'Guy Ligier LIG', 'Jacky\xa0IckxICK', 'Jean-Pierre\xa0BeltoiseBEL',
       'Johnny Servoz-Gavin SER', 'Jackie\xa0OliverOLI', 'Vic Elford ELF',
       'Brian RedmanRED', 'Piers CourageCOU', 'Silvio Moser MOS',
       'Clay\xa0RegazzoniREG', 'Emerson\xa0FittipaldiFIT',
       'Rolf\xa0StommelenSTO', 'Henri\xa0PescaroloPES',
       'Mario\xa0AndrettiAND', 'Reine WisellWIS', 'Ignazio Giunti GIU',
       'John MilesMIL', 'Francois Cevert CEV', 'Peter Gethin GET',
       'Derek\xa0BellBEL', 'Ronnie\xa0PetersonPET', 'Tim SchenkenSCH',
       'Howden Ganley GAN', 'Mark\xa0DonohueDON', 'Peter RevsonREV',
       'Andrea\xa0de Adamich DEA', 'Carlos\xa0ReutemannREU',
       'Carlos\xa0PacePAC', 'Arturo\xa0MerzarioMER', 'James\xa0HuntHUN',
       'George Follmer FOL', 'Wilson\xa0FittipaldiFIT',
       'Niki\xa0LaudaLAU', 'Gijs\xa0van LennepVAN',
       'Jody\xa0ScheckterSCH', 'Patrick\xa0DepaillerDEP',
       'Jean-Pierre\xa0JarierJAR', 'John\xa0WatsonWAT',
       'Hans-Joachim\xa0StuckSTU', 'Tom\xa0PrycePRY',
       'Vittorio\xa0BrambillaBRA', 'Jochen\xa0MassMAS',
       'Jacques\xa0LaffiteLAF', 'Alan JonesJON', 'Tony\xa0BriseBRI',
       'Lella\xa0LombardiLOM', 'Gunnar\xa0NilssonNIL',
       'Patrick\xa0TambayTAM', 'Renzo\xa0ZorziZOR',
       'Riccardo\xa0PatresePAT', 'Gilles\xa0VilleneuveVIL',
       'Didier\xa0PironiPIR', 'Jean-Pierre\xa0JabouilleJAB',
       'Hector\xa0RebaqueREB', 'Derek\xa0DalyDAL', 'Rene\xa0ArnouxARN',
       'Nelson\xa0PiquetPIQ', 'Elio\xa0de AngelisDEA',
       'Keke\xa0RosbergROS', 'Alain\xa0ProstPRO',
       'Bruno\xa0GiacomelliGIA', 'Eddie CheeverCHE',
       'Nigel\xa0MansellMAN', 'Marc\xa0SurerSUR',
       'Andrea\xa0de CesarisDEC', 'Slim\xa0BorguddBOR',
       'Eliseo\xa0SalazarSAL', 'Michele\xa0AlboretoALB',
       'Manfred\xa0WinkelhockWIN', 'Mauro\xa0BaldiBAL',
       'Chico\xa0SerraSER', 'Derek\xa0WarwickWAR', 'Danny\xa0SullivanSUL',
       'Johnny\xa0CecottoCEC', 'Ayrton\xa0SennaSEN', 'Teo\xa0FabiFAB',
       'Thierry\xa0BoutsenBOU', 'Stefan\xa0JohanssonJOH',
       'Piercarlo\xa0GhinzaniGHI', 'Philippe\xa0StreiffSTR',
       'Stefan\xa0BellofBEL', 'Ivan\xa0CapelliCAP',
       'Gerhard\xa0BergerBER', 'Martin\xa0BrundleBRU',
       'Johnny\xa0DumfriesDUM', 'Philippe\xa0AlliotALL',
       'Christian\xa0DannerDAN', 'Jonathan PalmerPAL',
       'Satoru\xa0NakajimaNAK', 'Roberto\xa0MorenoMOR',
       'Alessandro\xa0NanniniNAN', 'Mauricio\xa0GugelminGUG',
       'Pierluigi\xa0MartiniMAR', 'Jean\xa0AlesiALE',
       'Johnny\xa0HerbertHER', 'Stefano\xa0ModenaMOD', 'Alex\xa0CaffiCAF',
       'Emanuele\xa0PirroPIR', 'Gabriele\xa0TarquiniTAR',
       'Olivier\xa0GrouillardGRO', 'Luis\xa0Perez-SalaPER',
       'Aguri\xa0SuzukiSUZ', 'Eric\xa0BernardBER',
       'Jyrki\xa0JarvilehtoJAR', 'Bertrand\xa0GachotGAC',
       'Michael\xa0SchumacherMSC', 'Mika\xa0HakkinenHAK',
       'Julian\xa0BaileyBAI', 'Mark\xa0BlundellBLU',
       'Gianni\xa0MorbidelliMOR', 'Erik\xa0ComasCOM',
       'Karl\xa0WendlingerWEN', 'Christian\xa0FittipaldiFIT',
       'Damon\xa0HillHIL', 'Michael\xa0AndrettiAND',
       'Rubens\xa0BarrichelloBAR', 'Fabrizio\xa0BarbazzaBAR',
       'Alessandro\xa0ZanardiZAN', 'Eddie\xa0IrvineIRV',
       'David\xa0CoulthardCOU', 'Jos\xa0VerstappenVER',
       'Olivier\xa0PanisPAN', 'Heinz-Harald\xa0FrentzenFRE',
       'Nicola\xa0LariniLAR', 'Ukyo\xa0KatayamaKAT', 'Mika\xa0SaloSAL',
       'Jean-Christophe\xa0BoullionBOU', 'Pedro\xa0LamyLAM',
       'Jacques\xa0VilleneuveVIL', 'Pedro\xa0DinizDIN',
       'Giancarlo\xa0FisichellaFIS', 'Ralf\xa0SchumacherRSC',
       'Alexander\xa0WurzWUR', 'Jarno\xa0TrulliTRU',
       'Shinji\xa0NakanoNAK', 'Jan\xa0MagnussenMAG',
       'Ricardo\xa0RossetROS', 'Toranosuke\xa0TakagiTAK',
       'Esteban\xa0TueroTUE', 'Pedro\xa0de la RosaDLR', 'Marc\xa0GeneGEN',
       'Jenson\xa0ButtonBUT', 'Ricardo\xa0ZontaZON',
       'Gaston\xa0MazzacaneMAZ', 'Nick\xa0HeidfeldHEI',
       'Luciano\xa0BurtiBUR', 'Juan Pablo\xa0MontoyaMOY',
       'Kimi\xa0RäikkönenRAI', 'Felipe\xa0MassaMAS', 'Takuma\xa0SatoSAT',
       'Mark\xa0WebberWEB', 'Allan\xa0McNishMCN', 'Alex\xa0YoongYOO',
       'Enrique\xa0BernoldiBER', 'Fernando\xa0AlonsoALO',
       'Cristiano\xa0da MattaDAM', 'Ralph\xa0FirmanFIR',
       'Justin\xa0WilsonWIL', 'Antonio\xa0PizzoniaPIZ',
       'Nicolas\xa0KiesaKIE', 'Zsolt\xa0BaumgartnerBAU',
       'Christian\xa0KlienKLI', 'Timo\xa0GlockGLO',
       'Giorgio\xa0PantanoPAN', 'Gianmaria\xa0BruniBRU',
       'Tiago\xa0MonteiroMON', 'Narain\xa0KarthikeyanKAR',
       'Christijan\xa0AlbersALB', 'Patrick\xa0Friesacher FRI',
       'Vitantonio\xa0LiuzziLIU', 'Robert\xa0DoornbosDOO',
       'Robert\xa0KubicaKUB', 'Nico\xa0RosbergROS', 'Scott\xa0SpeedSPE',
       'Yuji\xa0IdeIDE', 'Sakon\xa0YamamotoYAM', 'Franck\xa0MontagnyMON',
       'Lewis\xa0HamiltonHAM', 'Heikki\xa0KovalainenKOV',
       'Sebastian\xa0VettelVET', 'Adrian\xa0SutilSUT',
       'Kazuki\xa0NakajimaNAK', 'Anthony\xa0DavidsonDAV',
       'Sebastien\xa0BourdaisBOU', 'Sebastien\xa0BuemiBUE',
       'Kamui\xa0KobayashiKOB', 'Romain\xa0GrosjeanGRO',
       'Jaime\xa0AlguersuariALG', 'Luca\xa0BadoerBAD',
       'Vitaly\xa0PetrovPET', 'Nico\xa0HulkenbergHUL',
       'Karun\xa0ChandhokCHD', 'Bruno\xa0SennaSEN',
       'Lucas\xa0di GrassiDIG', 'Paul\xa0di RestaDIR',
       'Sergio\xa0PerezPER', 'Pastor\xa0MaldonadoMAL',
       "Jerome\xa0d'AmbrosioDAM", 'Daniel\xa0RicciardoRIC',
       'Jean-Eric\xa0VergneVER', 'Charles\xa0PicPIC',
       'Esteban\xa0Gutierrez GUT', 'Valtteri\xa0BottasBOT',
       'Jules\xa0BianchiBIA', 'Giedo\xa0van der GardeVDG',
       'Max\xa0ChiltonCHI', 'Kevin\xa0MagnussenMAG', 'Daniil\xa0KvyatKVY',
       'Marcus\xa0EricssonERI', 'Will\xa0StevensSTE',
       'Max\xa0VerstappenVER', 'Felipe\xa0NasrNAS', 'Carlos\xa0SainzSAI',
       'Roberto\xa0MerhiMER', 'Alexander\xa0RossiRSI',
       'Jolyon\xa0PalmerPAL', 'Pascal\xa0WehrleinWEH',
       'Stoffel\xa0VandoorneVAN', 'Esteban\xa0OconOCO',
       'Rio\xa0HaryantoHAR', 'Lance\xa0StrollSTR', 'Pierre\xa0GaslyGAS',
       'Antonio\xa0GiovinazziGIO', 'Brendon\xa0HartleyHAR',
       'Charles\xa0LeclercLEC', 'Sergey\xa0SirotkinSIR',
       'Alexander\xa0AlbonALB', 'Lando\xa0NorrisNOR',
       'George\xa0RussellRUS', 'Nicholas\xa0LatifiLAT',
       'Jack\xa0AitkenAIT', 'Pietro\xa0FittipaldiFIT',
       'Yuki\xa0TsunodaTSU', 'Mick\xa0SchumacherMSC',
       'Nikita\xa0MazepinMAZ', 'Zhou\xa0GuanyuZHO', 'Nyck\xa0De VriesDEV',
       'Oscar\xa0PiastriPIA', 'Liam\xa0LawsonLAW', 'Logan\xa0SargeantSAR',
       'Oliver\xa0BearmanBEA', 'Franco\xa0ColapintoCOL',
       'Jack\xa0DoohanDOO'], dtype=object)

In [ ]:
# Replace '\xa0' (non-separable space) for a space, to clean the data
df_drivers['Driver'] = df_drivers['Driver'].str.replace('\xa0', ' ')  # Remove \xa0

# Create a new column for the name abbreviation (last 3 characters of the driver)
df_drivers['Name_Code'] = df_drivers['Driver'].str[-3:]  # Extract the last 3 digits

# Remove the last 3 characters of the driver (the name abbreviation)
df_drivers['Driver'] = df_drivers['Driver'].str[:-3]

df_drivers.head()

  Pos              Driver Nationality          Car   Pts  Year Name_Code
0   1         Nino Farina         ITA   Alfa Romeo  30.0  1950       FAR
1   2  Juan Manuel Fangio         ARG   Alfa Romeo  27.0  1950       FAN
2   3       Luigi Fagioli         ITA   Alfa Romeo  24.0  1950       FAG
3   4        Louis Rosier         FRA  Talbot-Lago  13.0  1950       ROS
4   5      Alberto Ascari         ITA          NaN  11.0  1950       ASC

In [19]:
df_drivers['Driver'].unique()

array(['Nino Farina', 'Juan Manuel Fangio', 'Luigi Fagioli',
       'Louis Rosier', 'Alberto Ascari', 'Johnnie Parsons',
       'Bill Holland', 'Prince Bira', 'Reg Parnell', 'Louis Chiron',
       'Mauri Rose', 'Peter Whitehead', 'Yves Giraud-Cabantous',
       'Raymond Sommer', 'Cecil Green', 'Robert Manzon',
       'Dorino Serafini', 'Philippe Etancelin', 'Felice Bonetto',
       'Tony Bettenhausen', 'Joie Chitwood', 'Eugene Chaboud',
       'Jose Froilan Gonzalez', 'Luigi Villoresi', 'Piero Taruffi',
       'Lee Wallard', 'Mike Nazaruk', 'Consalvo Sanesi', 'Andy Linden',
       'Toulo de Graffenried', 'Manny Ayulo', 'Bobby Ball',
       'Jack McGrath', 'Rudi Fischer ', 'Mike Hawthorn', 'Troy Ruttman',
       'Jim Rathmann', 'Jean Behra', 'Sam Hanks', 'Ken Wharton',
       'Duane Carter', 'Dennis Poore', 'Alan Brown', 'Art Cross',
       'Paul Frere', 'Maurice Trintignant', 'Eric Thompson',
       'Bill Vukovich ', 'Onofre Marimon', 'Oscar Alfredo Galvez',
       'Hermann Lang', 'Fred Agabashian', 'Paul Russo', 'Karl Kling',
       'Hans Herrmann', 'Jimmy Bryan', 'Luigi Musso', 'Roberto Mieres',
       'Stirling Moss', 'Sergio Mantovani', 'Elie Bayol', 'Andre Pilette',
       'Umberto Maglioli', 'Eugenio Castellotti', 'Bob Sweikert',
       'Jimmy Davies', 'Johnny Thomson', 'Cesare Perdisa',
       'Carlos Menditeguy', 'Walt Faulkner', 'Bill Homeier',
       'Peter Collins', 'Pat Flaherty', 'Paco Godia', 'Jack Fairman',
       'Don Freeland', 'Ron Flockhart', 'Harry Schell',
       'Alfonso de Portago ', 'Olivier Gendebien',
       'Hermano da Silva Ramos', 'Dick Rathmann', 'Horace Gould ',
       'Gerino Gerini ', 'Chico Landi', 'Tony Brooks', 'Masten Gregory',
       'Stuart Lewis-Evans ', 'Wolfgang von Trips', 'Roy Salvadori',
       'Giorgio Scarlatti ', 'Phil Hill', 'George Amick', 'Johnny Boyd',
       'Jack Brabham', 'Cliff Allison', 'Jo Bonnier', 'Bruce McLaren',
       'Dan Gurney', 'Rodger Ward', 'Innes Ireland', 'Paul Goldsmith',
       'Richie Ginther', 'Jim Clark', 'John Surtees', 'Graham Hill',
       'Willy Mairesse', 'Don Branson', 'Henry Taylor', 'Giulio Cabianca',
       'Eddie Johnson', 'Lucien Bianchi', 'Giancarlo Baghetti',
       'Jackie Lewis ', 'Tony Maggs', 'Trevor Taylor ', 'Lorenzo Bandini',
       'Ricardo Rodriguez ', 'Carel Godin de Beaufort ',
       'Neville Lederle', 'Gerhard Mitter', 'Jim Hall ',
       'Ludovico Scarfiotti', 'Jo Siffert', 'Peter Arundell ',
       'Bob Anderson', 'Mike Spence', 'Chris Amon', 'Walt Hansgen',
       'Mike Hailwood', 'Pedro Rodriguez', 'Jackie Stewart',
       'Denny Hulme', 'Jochen Rindt', 'Ronnie Bucknum', 'Richard Attwood',
       'Mike Parkes ', 'Bob Bondurant', 'John Taylor ', 'John Love',
       'Chris Irwin', 'Guy Ligier ', 'Jacky Ickx', 'Jean-Pierre Beltoise',
       'Johnny Servoz-Gavin ', 'Jackie Oliver', 'Vic Elford ',
       'Brian Redman', 'Piers Courage', 'Silvio Moser ', 'Clay Regazzoni',
       'Emerson Fittipaldi', 'Rolf Stommelen', 'Henri Pescarolo',
       'Mario Andretti', 'Reine Wisell', 'Ignazio Giunti ', 'John Miles',
       'Francois Cevert ', 'Peter Gethin ', 'Derek Bell',
       'Ronnie Peterson', 'Tim Schenken', 'Howden Ganley ',
       'Mark Donohue', 'Peter Revson', 'Andrea de Adamich ',
       'Carlos Reutemann', 'Carlos Pace', 'Arturo Merzario', 'James Hunt',
       'George Follmer ', 'Wilson Fittipaldi', 'Niki Lauda',
       'Gijs van Lennep', 'Jody Scheckter', 'Patrick Depailler',
       'Jean-Pierre Jarier', 'John Watson', 'Hans-Joachim Stuck',
       'Tom Pryce', 'Vittorio Brambilla', 'Jochen Mass',
       'Jacques Laffite', 'Alan Jones', 'Tony Brise', 'Lella Lombardi',
       'Gunnar Nilsson', 'Patrick Tambay', 'Renzo Zorzi',
       'Riccardo Patrese', 'Gilles Villeneuve', 'Didier Pironi',
       'Jean-Pierre Jabouille', 'Hector Rebaque', 'Derek Daly',
       'Rene Arnoux', 'Nelson Piquet', 'Elio de Angelis', 'Keke Rosberg',
       'Alain Prost', 'Bruno Giacomelli', 'Eddie Cheever',
       'Nigel Mansell', 'Marc Surer', 'Andrea de Cesaris', 'Slim Borgudd',
       'Eliseo Salazar', 'Michele Alboreto', 'Manfred Winkelhock',
       'Mauro Baldi', 'Chico Serra', 'Derek Warwick', 'Danny Sullivan',
       'Johnny Cecotto', 'Ayrton Senna', 'Teo Fabi', 'Thierry Boutsen',
       'Stefan Johansson', 'Piercarlo Ghinzani', 'Philippe Streiff',
       'Stefan Bellof', 'Ivan Capelli', 'Gerhard Berger',
       'Martin Brundle', 'Johnny Dumfries', 'Philippe Alliot',
       'Christian Danner', 'Jonathan Palmer', 'Satoru Nakajima',
       'Roberto Moreno', 'Alessandro Nannini', 'Mauricio Gugelmin',
       'Pierluigi Martini', 'Jean Alesi', 'Johnny Herbert',
       'Stefano Modena', 'Alex Caffi', 'Emanuele Pirro',
       'Gabriele Tarquini', 'Olivier Grouillard', 'Luis Perez-Sala',
       'Aguri Suzuki', 'Eric Bernard', 'Jyrki Jarvilehto',
       'Bertrand Gachot', 'Michael Schumacher', 'Mika Hakkinen',
       'Julian Bailey', 'Mark Blundell', 'Gianni Morbidelli',
       'Erik Comas', 'Karl Wendlinger', 'Christian Fittipaldi',
       'Damon Hill', 'Michael Andretti', 'Rubens Barrichello',
       'Fabrizio Barbazza', 'Alessandro Zanardi', 'Eddie Irvine',
       'David Coulthard', 'Jos Verstappen', 'Olivier Panis',
       'Heinz-Harald Frentzen', 'Nicola Larini', 'Ukyo Katayama',
       'Mika Salo', 'Jean-Christophe Boullion', 'Pedro Lamy',
       'Jacques Villeneuve', 'Pedro Diniz', 'Giancarlo Fisichella',
       'Ralf Schumacher', 'Alexander Wurz', 'Jarno Trulli',
       'Shinji Nakano', 'Jan Magnussen', 'Ricardo Rosset',
       'Toranosuke Takagi', 'Esteban Tuero', 'Pedro de la Rosa',
       'Marc Gene', 'Jenson Button', 'Ricardo Zonta', 'Gaston Mazzacane',
       'Nick Heidfeld', 'Luciano Burti', 'Juan Pablo Montoya',
       'Kimi Räikkönen', 'Felipe Massa', 'Takuma Sato', 'Mark Webber',
       'Allan McNish', 'Alex Yoong', 'Enrique Bernoldi',
       'Fernando Alonso', 'Cristiano da Matta', 'Ralph Firman',
       'Justin Wilson', 'Antonio Pizzonia', 'Nicolas Kiesa',
       'Zsolt Baumgartner', 'Christian Klien', 'Timo Glock',
       'Giorgio Pantano', 'Gianmaria Bruni', 'Tiago Monteiro',
       'Narain Karthikeyan', 'Christijan Albers', 'Patrick Friesacher ',
       'Vitantonio Liuzzi', 'Robert Doornbos', 'Robert Kubica',
       'Nico Rosberg', 'Scott Speed', 'Yuji Ide', 'Sakon Yamamoto',
       'Franck Montagny', 'Lewis Hamilton', 'Heikki Kovalainen',
       'Sebastian Vettel', 'Adrian Sutil', 'Kazuki Nakajima',
       'Anthony Davidson', 'Sebastien Bourdais', 'Sebastien Buemi',
       'Kamui Kobayashi', 'Romain Grosjean', 'Jaime Alguersuari',
       'Luca Badoer', 'Vitaly Petrov', 'Nico Hulkenberg',
       'Karun Chandhok', 'Bruno Senna', 'Lucas di Grassi',
       'Paul di Resta', 'Sergio Perez', 'Pastor Maldonado',
       "Jerome d'Ambrosio", 'Daniel Ricciardo', 'Jean-Eric Vergne',
       'Charles Pic', 'Esteban Gutierrez ', 'Valtteri Bottas',
       'Jules Bianchi', 'Giedo van der Garde', 'Max Chilton',
       'Kevin Magnussen', 'Daniil Kvyat', 'Marcus Ericsson',
       'Will Stevens', 'Max Verstappen', 'Felipe Nasr', 'Carlos Sainz',
       'Roberto Merhi', 'Alexander Rossi', 'Jolyon Palmer',
       'Pascal Wehrlein', 'Stoffel Vandoorne', 'Esteban Ocon',
       'Rio Haryanto', 'Lance Stroll', 'Pierre Gasly',
       'Antonio Giovinazzi', 'Brendon Hartley', 'Charles Leclerc',
       'Sergey Sirotkin', 'Alexander Albon', 'Lando Norris',
       'George Russell', 'Nicholas Latifi', 'Jack Aitken',
       'Pietro Fittipaldi', 'Yuki Tsunoda', 'Mick Schumacher',
       'Nikita Mazepin', 'Zhou Guanyu', 'Nyck De Vries', 'Oscar Piastri',
       'Liam Lawson', 'Logan Sargeant', 'Oliver Bearman',
       'Franco Colapinto', 'Jack Doohan'], dtype=object)

Verify if there are any missing values.

In [20]:
df_drivers.isna().sum()

Pos            0
Driver         0
Nationality    0
Car            9
Pts            0
Year           0
Name_Code      0
dtype: int64

Look up for the Nan on 'Car'

In [21]:
# Filter the lines where the 'Car' is NaN
df_drivers[df_drivers['Car'].isna()]

#1950 - Alberto Ascari - Ferrari
#1950 - Dorino Serafini - Ferrari
#1950 - Philippe Etancelin - Talbot-Lago
#1950 - Eugene Chaboud - Talbot-Lago
#1951 - Jose Froilan Gonzalez - Ferrari
#1951 - Louis Rosier - Talbot-Lago
#1951 - Yves Giraud-Cabantous - Talbot-Lago
#1952 - Ken Wharton - Frazer-Nash-Bristol
#1971 - Mark Donohue - McLaren-Ford

    Pos                 Driver Nationality  Car   Pts  Year Name_Code
4     5         Alberto Ascari         ITA  NaN  11.0  1950       ASC
16   13        Dorino Serafini         ITA  NaN   3.0  1950       SER
17   13     Philippe Etancelin         FRA  NaN   3.0  1950       ETA
21   20         Eugene Chaboud         FRA  NaN   1.0  1950       CHA
24    3  Jose Froilan Gonzalez         ARG  NaN  24.0  1951       GON
35   12           Louis Rosier         FRA  NaN   3.0  1951       ROS
40   15  Yves Giraud-Cabantous         FRA  NaN   2.0  1951       GIR
53   13            Ken Wharton         GBR  NaN   3.0  1952       WHA
463  16           Mark Donohue         USA  NaN   4.0  1971       DON

Update 'Car' based on multiple conditions: 'Driver' and 'Year'

In [22]:
df_drivers.loc[(df_drivers['Driver'] == 'Alberto Ascari') & (df_drivers['Year'] == 1950), 'Car'] = 'Ferrari'
df_drivers.loc[(df_drivers['Driver'] == 'Dorino Serafini') & (df_drivers['Year'] == 1950), 'Car'] = 'Ferrari'
df_drivers.loc[(df_drivers['Driver'] == 'Philippe Etancelin') & (df_drivers['Year'] == 1950), 'Car'] = 'Talbot-Lago'
df_drivers.loc[(df_drivers['Driver'] == 'Eugene Chaboud') & (df_drivers['Year'] == 1950), 'Car'] = 'Talbot-Lago'
df_drivers.loc[(df_drivers['Driver'] == 'Jose Froilan Gonzalez') & (df_drivers['Year'] == 1951), 'Car'] = 'Ferrari'
df_drivers.loc[(df_drivers['Driver'] == 'Louis Rosier') & (df_drivers['Year'] == 1951), 'Car'] = 'Talbot-Lago'
df_drivers.loc[(df_drivers['Driver'] == 'Yves Giraud-Cabantous') & (df_drivers['Year'] == 1951), 'Car'] = 'Talbot-Lago'
df_drivers.loc[(df_drivers['Driver'] == 'Ken Wharton') & (df_drivers['Year'] == 1952), 'Car'] = 'Frazer-Nash-Bristol'
df_drivers.loc[(df_drivers['Driver'] == 'Mark Donohue') & (df_drivers['Year'] == 1971), 'Car'] = 'McLaren-Ford'

In [23]:
df_drivers.isna().sum()

Pos            0
Driver         0
Nationality    0
Car            0
Pts            0
Year           0
Name_Code      0
dtype: int64

Save the adjusted DataFrame into a new csv file.

In [24]:
df_drivers.to_csv('df_drivers.csv', index = False)

## Teams DataFrame

Read the Teams DataFrame and transform it, to a better use of the data.

In [25]:
df_teams = pd.read_csv('formula1_teams_results.csv')
df_teams.head()

  Pos           Team   Pts  Year
0   1        Vanwall  48.0  1958
1   2        Ferrari  40.0  1958
2   3  Cooper Climax  31.0  1958
3   4            BRM  18.0  1958
4   5       Maserati   6.0  1958

Verify all the teams, looking for some adjustment if necessary

In [26]:
df_teams['Team'].unique()

array(['Vanwall', 'Ferrari', 'Cooper Climax', 'BRM', 'Maserati',
       'Lotus Climax', 'Cooper Maserati', 'Cooper Castellotti', 'Porsche',
       'BRM Climax', 'Lola Climax', 'Brabham Climax', 'Lotus BRM',
       'BRP BRM', 'Brabham BRM', 'Honda', 'Brabham Repco', 'Eagle Climax',
       'McLaren Ford', 'McLaren Serenissima', 'Lotus Ford',
       'Eagle Weslake', 'McLaren BRM', 'Matra Ford', 'Cooper BRM',
       'Matra', 'Mclaren BRM', 'Brabham Ford', 'March Ford',
       'Surtees Ford', 'Tyrrell Ford', 'Shadow Ford', 'Iso Marlboro Ford',
       'Tecno', 'Hesketh Ford', 'Lola Ford',
       'Frank Williams Racing Cars/Williams', 'Parnelli Ford',
       'Hill Ford', 'Penske Ford', 'Ensign Ford', 'Ligier Matra',
       'Brabham Alfa Romeo', 'Fittipaldi Ford', 'Wolf Ford',
       'Williams Ford', 'Arrows Ford', 'Renault', 'Ligier Ford',
       'ATS Ford', 'Alfa Romeo', 'Theodore Ford', 'Brabham BMW',
       'Osella Ford', 'Lotus Renault', 'Toleman Hart', 'Williams Honda',
       'McLaren TAG', 'Arrows BMW', 'Ligier Renault', 'Osella Alfa Romeo',
       'Tyrrell Renault', 'Benetton BMW', 'Lotus Honda', 'Benetton Ford',
       'Arrows Megatron', 'Zakspeed', 'Ligier Megatron', 'AGS Ford',
       'McLaren Honda', 'March Judd', 'Williams Judd', 'Rial Ford',
       'Minardi Ford', 'Williams Renault', 'Lotus Judd', 'Dallara Ford',
       'Brabham Judd', 'Onyx Ford', 'Lola Lamborghini',
       'Leyton House Judd', 'Lotus Lamborghini', 'Jordan Ford',
       'Tyrrell Honda', 'Minardi Ferrari', 'Dallara Judd',
       'Brabham Yamaha', 'Leyton House Ilmor', 'Tyrrell Ilmor',
       'Footwork Mugen Honda', 'March Ilmor', 'Dallara Ferrari',
       'Jordan Yamaha', 'Minardi Lamborghini', 'Venturi Lamborghini',
       'Sauber', 'Larrousse Lamborghini', 'Jordan Hart',
       'McLaren Peugeot', 'Tyrrell Yamaha', 'Sauber Mercedes',
       'Footwork Ford', 'Larrousse Ford', 'Benetton Renault',
       'McLaren Mercedes', 'Ligier Mugen Honda', 'Jordan Peugeot',
       'Sauber Ford', 'Footwork Hart', 'Prost Mugen Honda',
       'Sauber Petronas', 'Arrows Yamaha', 'Stewart Ford',
       'Williams Mecachrome', 'Jordan Mugen Honda', 'Benetton Playlife',
       'Arrows', 'Prost Peugeot', 'Williams Supertec', 'Williams BMW',
       'BAR Honda', 'Arrows Supertec', 'Jaguar Cosworth', 'Jordan Honda',
       'Prost Acer', 'Arrows Asiatech', 'Minardi Asiatech', 'Toyota',
       'Arrows Cosworth', 'Minardi Cosworth', 'RBR Cosworth',
       'Jordan Toyota', 'Sauber BMW', 'RBR Ferrari', 'Williams Cosworth',
       'STR Cosworth', 'MF1 Toyota', 'Super Aguri Honda',
       'Williams Toyota', 'Red Bull Renault', 'STR Ferrari',
       'Spyker Ferrari', 'Force India Ferrari', 'Brawn Mercedes',
       'RBR Renault', 'Force India Mercedes', 'Mercedes',
       'Sauber Ferrari', 'Lotus Cosworth', 'HRT Cosworth',
       'Virgin Cosworth', 'Red Bull Racing Renault', 'Caterham Renault',
       'Marussia Cosworth', 'Williams Mercedes', 'STR Renault',
       'Marussia Ferrari', 'Lotus Mercedes', 'Red Bull Racing TAG Heuer',
       'Toro Rosso Ferrari', 'Haas Ferrari', 'MRT Mercedes', 'Toro Rosso',
       'McLaren Renault', 'Scuderia Toro Rosso Honda',
       'Force India Sahara', 'Red Bull Racing Honda',
       'Racing Point BWT Mercedes', 'Alfa Romeo Racing Ferrari',
       'AlphaTauri Honda', 'Alpine Renault', 'Aston Martin Mercedes',
       'Red Bull Racing RBPT', 'Alfa Romeo Ferrari',
       'Aston Martin Aramco Mercedes', 'AlphaTauri RBPT',
       'Red Bull Racing Honda RBPT', 'AlphaTauri Honda RBPT',
       'RB Honda RBPT', 'Kick Sauber Ferrari'], dtype=object)

Some of the teams are the same but with different names.

E.g.:

-Benetton BMW

-Benetton Ford

-Benetton Playlife

-Benetton Renault

To adjust this differents, only the 'main' name will be considered, which will be called 'Constructor'.

In [27]:
df_teams.loc[(df_teams['Team'] == 'Alfa Romeo Ferrari'), 'Constructor'] = 'Alfa Romeu'
df_teams.loc[(df_teams['Team'] == 'Alfa Romeo Racing Ferrari'), 'Constructor'] = 'Alfa Romeu'
df_teams.loc[(df_teams['Team'] == 'AlphaTauri Honda'), 'Constructor'] = 'AlphaTauri'
df_teams.loc[(df_teams['Team'] == 'AlphaTauri Honda RBPT'), 'Constructor'] = 'AlphaTauri'
df_teams.loc[(df_teams['Team'] == 'AlphaTauri RBPT'), 'Constructor'] = 'AlphaTauri'
df_teams.loc[(df_teams['Team'] == 'Arrows Asiatech'), 'Constructor'] = 'Arrows'
df_teams.loc[(df_teams['Team'] == 'Arrows BMW'), 'Constructor'] = 'Arrows'
df_teams.loc[(df_teams['Team'] == 'Arrows Cosworth'), 'Constructor'] = 'Arrows'
df_teams.loc[(df_teams['Team'] == 'Arrows Ford'), 'Constructor'] = 'Arrows'
df_teams.loc[(df_teams['Team'] == 'Arrows Megatron'), 'Constructor'] = 'Arrows'
df_teams.loc[(df_teams['Team'] == 'Arrows Supertec'), 'Constructor'] = 'Arrows'
df_teams.loc[(df_teams['Team'] == 'Arrows Yamaha'), 'Constructor'] = 'Arrows'
df_teams.loc[(df_teams['Team'] == 'Aston Martin Aramco Mercedes'), 'Constructor'] = 'Aston Martin Mercedes'
df_teams.loc[(df_teams['Team'] == 'Benetton BMW'), 'Constructor'] = 'Benetton'
df_teams.loc[(df_teams['Team'] == 'Benetton Ford'), 'Constructor'] = 'Benetton'
df_teams.loc[(df_teams['Team'] == 'Benetton Playlife'), 'Constructor'] = 'Benetton'
df_teams.loc[(df_teams['Team'] == 'Benetton Renault'), 'Constructor'] = 'Benetton'
df_teams.loc[(df_teams['Team'] == 'Brabham Alfa Romeo'), 'Constructor'] = 'Brabham'
df_teams.loc[(df_teams['Team'] == 'Brabham BMW'), 'Constructor'] = 'Brabham'
df_teams.loc[(df_teams['Team'] == 'Brabham BRM'), 'Constructor'] = 'Brabham'
df_teams.loc[(df_teams['Team'] == 'Brabham Climax'), 'Constructor'] = 'Brabham'
df_teams.loc[(df_teams['Team'] == 'Brabham Ford'), 'Constructor'] = 'Brabham'
df_teams.loc[(df_teams['Team'] == 'Brabham Judd'), 'Constructor'] = 'Brabham'
df_teams.loc[(df_teams['Team'] == 'Brabham Repco'), 'Constructor'] = 'Brabham'
df_teams.loc[(df_teams['Team'] == 'Brabham Yamaha'), 'Constructor'] = 'Brabham'
df_teams.loc[(df_teams['Team'] == 'BRM Climax'), 'Constructor'] = 'BRM'
df_teams.loc[(df_teams['Team'] == 'BRP BRM'), 'Constructor'] = 'BRM'
df_teams.loc[(df_teams['Team'] == 'Cooper BRM'), 'Constructor'] = 'Cooper'
df_teams.loc[(df_teams['Team'] == 'Cooper Castellotti'), 'Constructor'] = 'Cooper'
df_teams.loc[(df_teams['Team'] == 'Cooper Climax'), 'Constructor'] = 'Cooper'
df_teams.loc[(df_teams['Team'] == 'Cooper Maserati'), 'Constructor'] = 'Cooper'
df_teams.loc[(df_teams['Team'] == 'Dallara Ferrari'), 'Constructor'] = 'Dallara'
df_teams.loc[(df_teams['Team'] == 'Dallara Ford'), 'Constructor'] = 'Dallara'
df_teams.loc[(df_teams['Team'] == 'Dallara Judd'), 'Constructor'] = 'Dallara'
df_teams.loc[(df_teams['Team'] == 'Eagle Climax'), 'Constructor'] = 'Eagle'
df_teams.loc[(df_teams['Team'] == 'Eagle Weslake'), 'Constructor'] = 'Eagle'
df_teams.loc[(df_teams['Team'] == 'Footwork Ford'), 'Constructor'] = 'Footwork'
df_teams.loc[(df_teams['Team'] == 'Footwork Hart'), 'Constructor'] = 'Footwork'
df_teams.loc[(df_teams['Team'] == 'Footwork Mugen Honda'), 'Constructor'] = 'Footwork'
df_teams.loc[(df_teams['Team'] == 'Force India Ferrari'), 'Constructor'] = 'Force India'
df_teams.loc[(df_teams['Team'] == 'Force India Mercedes'), 'Constructor'] = 'Force India'
df_teams.loc[(df_teams['Team'] == 'Force India Sahara'), 'Constructor'] = 'Force India'
df_teams.loc[(df_teams['Team'] == 'Jordan Ford'), 'Constructor'] = 'Jordan'
df_teams.loc[(df_teams['Team'] == 'Jordan Hart'), 'Constructor'] = 'Jordan'
df_teams.loc[(df_teams['Team'] == 'Jordan Honda'), 'Constructor'] = 'Jordan'
df_teams.loc[(df_teams['Team'] == 'Jordan Mugen Honda'), 'Constructor'] = 'Jordan'
df_teams.loc[(df_teams['Team'] == 'Jordan Peugeot'), 'Constructor'] = 'Jordan'
df_teams.loc[(df_teams['Team'] == 'Jordan Toyota'), 'Constructor'] = 'Jordan'
df_teams.loc[(df_teams['Team'] == 'Jordan Yamaha'), 'Constructor'] = 'Jordan'
df_teams.loc[(df_teams['Team'] == 'Larrousse Ford'), 'Constructor'] = 'Larrousse'
df_teams.loc[(df_teams['Team'] == 'Larrousse Lamborghini'), 'Constructor'] = 'Larrousse'
df_teams.loc[(df_teams['Team'] == 'Leyton House Ilmor'), 'Constructor'] = 'Leyton House'
df_teams.loc[(df_teams['Team'] == 'Leyton House Judd'), 'Constructor'] = 'Leyton House'
df_teams.loc[(df_teams['Team'] == 'Ligier Ford'), 'Constructor'] = 'Ligier'
df_teams.loc[(df_teams['Team'] == 'Ligier Matra'), 'Constructor'] = 'Ligier'
df_teams.loc[(df_teams['Team'] == 'Ligier Megatron'), 'Constructor'] = 'Ligier'
df_teams.loc[(df_teams['Team'] == 'Ligier Mugen Honda'), 'Constructor'] = 'Ligier'
df_teams.loc[(df_teams['Team'] == 'Ligier Renault'), 'Constructor'] = 'Ligier'
df_teams.loc[(df_teams['Team'] == 'Lola Climax'), 'Constructor'] = 'Lola'
df_teams.loc[(df_teams['Team'] == 'Lola Ford'), 'Constructor'] = 'Lola'
df_teams.loc[(df_teams['Team'] == 'Lola Lamborghini'), 'Constructor'] = 'Lola'
df_teams.loc[(df_teams['Team'] == 'Lotus BRM'), 'Constructor'] = 'Lotus'
df_teams.loc[(df_teams['Team'] == 'Lotus Climax'), 'Constructor'] = 'Lotus'
df_teams.loc[(df_teams['Team'] == 'Lotus Cosworth'), 'Constructor'] = 'Lotus'
df_teams.loc[(df_teams['Team'] == 'Lotus Ford'), 'Constructor'] = 'Lotus'
df_teams.loc[(df_teams['Team'] == 'Lotus Honda'), 'Constructor'] = 'Lotus'
df_teams.loc[(df_teams['Team'] == 'Lotus Judd'), 'Constructor'] = 'Lotus'
df_teams.loc[(df_teams['Team'] == 'Lotus Lamborghini'), 'Constructor'] = 'Lotus'
df_teams.loc[(df_teams['Team'] == 'Lotus Mercedes'), 'Constructor'] = 'Lotus'
df_teams.loc[(df_teams['Team'] == 'Lotus Renault'), 'Constructor'] = 'Lotus'
df_teams.loc[(df_teams['Team'] == 'March Ford'), 'Constructor'] = 'March'
df_teams.loc[(df_teams['Team'] == 'March Ilmor'), 'Constructor'] = 'March'
df_teams.loc[(df_teams['Team'] == 'March Judd'), 'Constructor'] = 'March'
df_teams.loc[(df_teams['Team'] == 'Marussia Cosworth'), 'Constructor'] = 'Marussia'
df_teams.loc[(df_teams['Team'] == 'Marussia Ferrari'), 'Constructor'] = 'Marussia'
df_teams.loc[(df_teams['Team'] == 'Matra Ford'), 'Constructor'] = 'Matra'
df_teams.loc[(df_teams['Team'] == 'McLaren BRM'), 'Constructor'] = 'McLaren'
df_teams.loc[(df_teams['Team'] == 'McLaren Ford'), 'Constructor'] = 'McLaren'
df_teams.loc[(df_teams['Team'] == 'McLaren Honda'), 'Constructor'] = 'McLaren'
df_teams.loc[(df_teams['Team'] == 'McLaren Mercedes'), 'Constructor'] = 'McLaren'
df_teams.loc[(df_teams['Team'] == 'McLaren Peugeot'), 'Constructor'] = 'McLaren'
df_teams.loc[(df_teams['Team'] == 'McLaren Renault'), 'Constructor'] = 'McLaren'
df_teams.loc[(df_teams['Team'] == 'McLaren Serenissima'), 'Constructor'] = 'McLaren'
df_teams.loc[(df_teams['Team'] == 'McLaren TAG'), 'Constructor'] = 'McLaren'
df_teams.loc[(df_teams['Team'] == 'Minardi Asiatech'), 'Constructor'] = 'Minardi'
df_teams.loc[(df_teams['Team'] == 'Minardi Cosworth'), 'Constructor'] = 'Minardi'
df_teams.loc[(df_teams['Team'] == 'Minardi Ferrari'), 'Constructor'] = 'Minardi'
df_teams.loc[(df_teams['Team'] == 'Minardi Ford'), 'Constructor'] = 'Minardi'
df_teams.loc[(df_teams['Team'] == 'Minardi Lamborghini'), 'Constructor'] = 'Minardi'
df_teams.loc[(df_teams['Team'] == 'Osella Alfa Romeo'), 'Constructor'] = 'Osella'
df_teams.loc[(df_teams['Team'] == 'Osella Ford'), 'Constructor'] = 'Osella'
df_teams.loc[(df_teams['Team'] == 'Prost Acer'), 'Constructor'] = 'Prost'
df_teams.loc[(df_teams['Team'] == 'Prost Mugen Honda'), 'Constructor'] = 'Prost'
df_teams.loc[(df_teams['Team'] == 'Prost Peugeot'), 'Constructor'] = 'Prost'
df_teams.loc[(df_teams['Team'] == 'RB Honda RBPT'), 'Constructor'] = 'Red Bull'
df_teams.loc[(df_teams['Team'] == 'RBR Cosworth'), 'Constructor'] = 'Red Bull'
df_teams.loc[(df_teams['Team'] == 'RBR Ferrari'), 'Constructor'] = 'Red Bull'
df_teams.loc[(df_teams['Team'] == 'RBR Renault'), 'Constructor'] = 'Red Bull'
df_teams.loc[(df_teams['Team'] == 'Red Bull Racing Honda'), 'Constructor'] = 'Red Bull'
df_teams.loc[(df_teams['Team'] == 'Red Bull Racing Honda RBPT'), 'Constructor'] = 'Red Bull'
df_teams.loc[(df_teams['Team'] == 'Red Bull Racing RBPT'), 'Constructor'] = 'Red Bull'
df_teams.loc[(df_teams['Team'] == 'Red Bull Racing Renault'), 'Constructor'] = 'Red Bull'
df_teams.loc[(df_teams['Team'] == 'Red Bull Racing TAG Heuer'), 'Constructor'] = 'Red Bull'
df_teams.loc[(df_teams['Team'] == 'Red Bull Renault'), 'Constructor'] = 'Red Bull'
df_teams.loc[(df_teams['Team'] == 'Sauber BMW'), 'Constructor'] = 'Sauber'
df_teams.loc[(df_teams['Team'] == 'Sauber Ferrari'), 'Constructor'] = 'Sauber'
df_teams.loc[(df_teams['Team'] == 'Sauber Ford'), 'Constructor'] = 'Sauber'
df_teams.loc[(df_teams['Team'] == 'Sauber Mercedes'), 'Constructor'] = 'Sauber'
df_teams.loc[(df_teams['Team'] == 'Sauber Petronas'), 'Constructor'] = 'Sauber'
df_teams.loc[(df_teams['Team'] == 'STR Cosworth'), 'Constructor'] = 'STR'
df_teams.loc[(df_teams['Team'] == 'STR Ferrari'), 'Constructor'] = 'STR'
df_teams.loc[(df_teams['Team'] == 'STR Renault'), 'Constructor'] = 'STR'
df_teams.loc[(df_teams['Team'] == 'Scuderia Toro Rosso Honda'), 'Constructor'] = 'Toro Rosso'
df_teams.loc[(df_teams['Team'] == 'Toro Rosso Ferrari'), 'Constructor'] = 'Toro Rosso'
df_teams.loc[(df_teams['Team'] == 'Tyrrell Ford'), 'Constructor'] = 'Tyrrell'
df_teams.loc[(df_teams['Team'] == 'Tyrrell Honda'), 'Constructor'] = 'Tyrrell'
df_teams.loc[(df_teams['Team'] == 'Tyrrell Ilmor'), 'Constructor'] = 'Tyrrell'
df_teams.loc[(df_teams['Team'] == 'Tyrrell Renault'), 'Constructor'] = 'Tyrrell'
df_teams.loc[(df_teams['Team'] == 'Tyrrell Yamaha'), 'Constructor'] = 'Tyrrell'
df_teams.loc[(df_teams['Team'] == 'Williams BMW'), 'Constructor'] = 'Williams'
df_teams.loc[(df_teams['Team'] == 'Williams Cosworth'), 'Constructor'] = 'Williams'
df_teams.loc[(df_teams['Team'] == 'Williams Ford'), 'Constructor'] = 'Williams'
df_teams.loc[(df_teams['Team'] == 'Williams Honda'), 'Constructor'] = 'Williams'
df_teams.loc[(df_teams['Team'] == 'Williams Judd'), 'Constructor'] = 'Williams'
df_teams.loc[(df_teams['Team'] == 'Williams Mecachrome'), 'Constructor'] = 'Williams'
df_teams.loc[(df_teams['Team'] == 'Williams Mercedes'), 'Constructor'] = 'Williams'
df_teams.loc[(df_teams['Team'] == 'Williams Renault'), 'Constructor'] = 'Williams'
df_teams.loc[(df_teams['Team'] == 'Williams Supertec'), 'Constructor'] = 'Williams'
df_teams.loc[(df_teams['Team'] == 'Williams Toyota'), 'Constructor'] = 'Williams'
df_teams.loc[(df_teams['Team'] == 'Frank Williams Racing Cars/Williams'), 'Constructor'] = 'Williams'

For the cases that had only a single name, they will remain empty on the 'Contructor' data.

To fix it, fill with 'Team' values all the nan values

In [28]:
df_teams['Constructor'] = df_teams['Constructor'].fillna(df_teams['Team'])

Verify if all data is ok

In [29]:
df_teams.isna().sum()

Pos            0
Team           0
Pts            0
Year           0
Constructor    0
dtype: int64

Save the adjusted DataFrame into a new csv file.

In [30]:
df_teams.to_csv('df_teams.csv', index = False)

## Fastest-Laps DataFrame

Read the Fastest-Laps DataFrame and transform it, to a better use of the data.

In [31]:
df_fastest_laps = pd.read_csv('formula1_fastest_laps_results.csv')
df_fastest_laps.head()

,Grand Prix,Driver,Car,Time,Year
0,Great Britain,Nino FarinaFAR,Alfa Romeo,1:50.600,1950
1,Monaco,Juan Manuel FangioFAN,Alfa Romeo,1:51.000,1950
2,Indianapolis,Johnnie ParsonsPAR,Kurtis Kraft Offenhauser,NaN,1950
3,Switzerland,Nino FarinaFAR,Alfa Romeo,2:41.600,1950
4,Belgium,Nino FarinaFAR,Alfa Romeo,4:34.100,1950

Repeat the adjusments for drivers

In [32]:
df_fastest_laps['Driver'].unique()

array(['Nino\xa0FarinaFAR', 'Juan Manuel\xa0FangioFAN',
       'Johnnie ParsonsPAR', 'Lee\xa0WallardWAL', 'Piero TaruffiTAR',
       'Bill Vukovich VUK', 'Alberto\xa0AscariASC', 'Luigi VilloresiVIL',
       'Jose Froilan\xa0GonzalezGON', 'Jack\xa0McGrathMCG',
       'Hans HerrmannHER', 'Karl\xa0KlingKLI', 'Roberto\xa0MieresMIE',
       'Stirling\xa0MossMOS', 'Paul\xa0RussoRUS', 'Jim\xa0RathmannRAT',
       'Luigi\xa0MussoMUS', 'Tony\xa0BrooksBRO', 'Mike\xa0HawthornHAW',
       'Tony BettenhausenBET', 'Phil\xa0HillHIL', 'Jack\xa0BrabhamBRA',
       'Johnny\xa0ThomsonTHO', 'Maurice TrintignantTRI',
       'Bruce\xa0McLarenMCL', 'Graham\xa0HillHIL', 'John\xa0SurteesSUR',
       'Richie\xa0GintherGIN', 'Jim\xa0ClarkCLA',
       'Giancarlo\xa0BaghettiBAG', 'Dan\xa0GurneyGUR',
       'Lorenzo\xa0BandiniBAN', 'Denny\xa0HulmeHUL',
       'Ludovico\xa0ScarfiottiSCA', 'Jean-Pierre\xa0BeltoiseBEL',
       'Richard\xa0AttwoodATT', 'Pedro\xa0RodriguezROD',
       'Jo\xa0SiffertSIF', 'Jackie\xa0StewartSTE', 'Jackie\xa0OliverOLI',
       'Jochen\xa0RindtRIN', 'Jacky\xa0IckxICK', 'Chris\xa0AmonAMO',
       'Clay\xa0RegazzoniREG', 'Mario\xa0AndrettiAND',
       'Francois Cevert CEV', 'Henri\xa0PescaroloPES',
       'Mike\xa0HailwoodHAI', 'Emerson\xa0FittipaldiFIT',
       'Ronnie\xa0PetersonPET', 'James\xa0HuntHUN', 'Carlos\xa0PacePAC',
       'Carlos\xa0ReutemannREU', 'Niki\xa0LaudaLAU',
       'Patrick\xa0DepaillerDEP', 'Jody\xa0ScheckterSCH',
       'Jean-Pierre\xa0JarierJAR', 'Jochen\xa0MassMAS',
       'Vittorio\xa0BrambillaBRA', 'Jacques\xa0LaffiteLAF',
       'John\xa0WatsonWAT', 'Gunnar\xa0NilssonNIL',
       'Gilles\xa0VilleneuveVIL', 'Alan JonesJON', 'Rene\xa0ArnouxARN',
       'Nelson\xa0PiquetPIQ', 'Didier\xa0PironiPIR', 'Marc\xa0SurerSUR',
       'Alain\xa0ProstPRO', 'Riccardo\xa0PatresePAT',
       'Derek\xa0WarwickWAR', 'Brian\xa0HentonHEN',
       'Michele\xa0AlboretoALB', 'Andrea\xa0de CesarisDEC',
       'Patrick\xa0TambayTAM', 'Nigel\xa0MansellMAN',
       'Ayrton\xa0SennaSEN', 'Keke\xa0RosbergROS', 'Gerhard\xa0BergerBER',
       'Teo\xa0FabiFAB', 'Alessandro\xa0NanniniNAN', 'Jonathan PalmerPAL',
       'Mauricio\xa0GugelminGUG', 'Satoru\xa0NakajimaNAK',
       'Thierry\xa0BoutsenBOU', 'Jean\xa0AlesiALE',
       'Bertrand\xa0GachotGAC', 'Roberto\xa0MorenoMOR',
       'Michael\xa0SchumacherMSC', 'Damon\xa0HillHIL',
       'David\xa0CoulthardCOU', 'Jacques\xa0VilleneuveVIL',
       'Heinz-Harald\xa0FrentzenFRE', 'Giancarlo\xa0FisichellaFIS',
       'Mika\xa0HakkinenHAK', 'Alexander\xa0WurzWUR',
       'Eddie\xa0IrvineIRV', 'Ralf\xa0SchumacherRSC',
       'Rubens\xa0BarrichelloBAR', 'Juan Pablo\xa0MontoyaMOY',
       'Kimi\xa0RäikkönenRAI', 'Fernando\xa0AlonsoALO',
       'Pedro\xa0de la RosaDLR', 'Nico\xa0RosbergROS',
       'Felipe\xa0MassaMAS', 'Lewis\xa0HamiltonHAM',
       'Heikki\xa0KovalainenKOV', 'Nick\xa0HeidfeldHEI',
       'Jenson\xa0ButtonBUT', 'Jarno\xa0TrulliTRU',
       'Sebastian\xa0VettelVET', 'Mark\xa0WebberWEB', 'Timo\xa0GlockGLO',
       'Adrian\xa0SutilSUT', 'Vitaly\xa0PetrovPET', 'Robert\xa0KubicaKUB',
       'Kamui\xa0KobayashiKOB', 'Romain\xa0GrosjeanGRO',
       'Sergio\xa0PerezPER', 'Bruno\xa0SennaSEN', 'Nico\xa0HulkenbergHUL',
       'Esteban\xa0Gutierrez GUT', 'Valtteri\xa0BottasBOT',
       'Daniel\xa0RicciardoRIC', 'Daniil\xa0KvyatKVY',
       'Max\xa0VerstappenVER', 'Kevin\xa0MagnussenMAG',
       'Charles\xa0LeclercLEC', 'Pierre\xa0GaslyGAS',
       'Lando\xa0NorrisNOR', 'Carlos\xa0SainzSAI', 'George\xa0RussellRUS',
       'Zhou\xa0GuanyuZHO', 'Oscar\xa0PiastriPIA', 'Yuki\xa0TsunodaTSU',
       'Esteban\xa0OconOCO'], dtype=object)

In [ ]:
# Replace '\xa0' (non-separable space) for a space, to clean the data
df_fastest_laps['Driver'] = df_fastest_laps['Driver'].str.replace('\xa0', ' ')  # Remove \xa0

# Create a new column for the name abbreviation (last 3 characters of the driver)
df_fastest_laps['Name_Code'] = df_fastest_laps['Driver'].str[-3:]  # Extract the last 3 digits

# Remove the last 3 characters of the driver (the name abbreviation)
df_fastest_laps['Driver'] = df_fastest_laps['Driver'].str[:-3]

df_fastest_laps.head()

,Grand Prix,Driver,Car,Time,Year,Name_Code
0,Great Britain,Nino Farina,Alfa Romeo,1:50.600,1950,FAR
1,Monaco,Juan Manuel Fangio,Alfa Romeo,1:51.000,1950,FAN
2,Indianapolis,Johnnie Parsons,Kurtis Kraft Offenhauser,NaN,1950,PAR
3,Switzerland,Nino Farina,Alfa Romeo,2:41.600,1950,FAR
4,Belgium,Nino Farina,Alfa Romeo,4:34.100,1950,FAR

Verify if the values are ok

In [34]:
df_fastest_laps.isna().sum()

Grand Prix    0
Driver        0
Car           0
Time          1
Year          0
Name_Code     0
dtype: int64

Searching for the missing one

In [35]:
# Filter the lines where 'Time' is a NaN value
df_fastest_laps[df_fastest_laps['Time'].isna()]

#1:05.97

,Grand Prix,Driver,Car,Time,Year,Name_Code
2,Indianapolis,Johnnie Parsons,Kurtis Kraft Offenhauser,NaN,1950,PAR

Update 'Time' based on multiple conditions: 'Driver', 'Year' and 'Grand Prix'

In [36]:
df_fastest_laps.loc[(df_fastest_laps['Driver'] == 'Johnnie Parsons') & (df_fastest_laps['Year'] == 1950) & (df_fastest_laps['Grand Prix'] == 'Indianapolis'), 'Time'] = '1:05.970'

In [37]:
df_fastest_laps.isna().sum()

Grand Prix    0
Driver        0
Car           0
Time          0
Year          0
Name_Code     0
dtype: int64

Save the adjusted DataFrame into a new csv file.

In [38]:
df_fastest_laps.to_csv('df_fastest_laps.csv', index = False)